# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Django
*.sqlite3
staticfiles/
media/

# Variables de entorno
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
Thumbs.db
.DS_Store

# Docker
docker-compose.override.yml

# Node
node_modules/

# Logs
*.log
npm-debug.log*

# Archivos temporales
*.tmp
*.temp
